.idea
.gitignore

db-service/.idea
db-service/.mvn
db-service/target

logistic-service/.idea
logistic-service/.mvn
logistic-service/target

parsing-service/.idea
parsing-service/.mvn
parsing-service/target

telegram-user-service/.idea
telegram-user-service/.mvn
telegram-user-service/target

service-registry/.idea
service-registry/.mvn
service-registry/target
